<% if notice %>

    <div class="alert text-center alert-success" role="alert">
        <%= notice %>
    </div>
    <% end %>


        <% if alert %>

            <div class="alert text-center alert-danger" role="alert">
                <%= alert %>

            </div>
            <% end %>