/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  width: 100vw;
}

:root {
  --main-color: #57b642;
}

.sign-up-form,
.login-form {
  max-width: 350px;
  width: 100%;
  padding: 0 5%;
  height: 100%;
}

.signup-info p,
.login-info p {
  color: var(--main-color);
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}
.signup-info h2,
.login-info h2 {
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
}

.sign-up-btn {
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
.sign-up-btn:hover {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: white;
  transition: 500ms ease;
}

.active-links {
  text-decoration: none;
  color: var(--main-color);
  font-size: 0.8rem;
}

.signup-page {
  position: relative;
}
.signup-img {
  position: absolute;
  top: -20%;
  object-fit: cover;
  width: 100%;
  z-index: -1;
  opacity: 0.05;
}

/* nav styles  */

.navbar {
  background-color: var(--main-color);
}

/* product card */
.products {
  margin-top: 1%;
}
.product-card {
  border: 1px solid rgba(87, 153, 87, 0.5);
  border-radius: 10px;
  max-width: 300px;
  margin: auto;
  display: flex;
  max-height: 120px;
  height: 100%;
  margin-bottom: 5px;
}

.product-image-container {
  width: 40%;
}

.product-name {
  font-size: 0.95rem;
  font-weight: 600;
  margin: 0;
  color: black;
}

.product-price {
  color: var(--main-color);
  font-size: 0.7rem;
  margin: 0;
}

.product-condition {
  color: var(--main-color);
  font-size: 0.7rem;
  margin: 0;
}

.product-image-container {
  height: 100%;
}

.product-info {
  color: var(--main-color);
  font-size: 0.7rem;
  margin: 0;
}

.project-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  justify-content: start;
  padding: 5% 0;
  gap: 3px;
}

.product-link {
  text-decoration: none;
}
