/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    font-family: 'Poppins', sans-serif;
}


 :root {
     --main-color: #316D24
 }

 .sign-up-form, .login-form {
     max-width: 350px;
     width: 100%;
     padding: 0 5%;
     height: 100%;
 }

 .signup-info p ,.login-info p{
     color: var(--main-color);
     width: 100%;
     text-align: center;
     font-size: .9rem;
 }
 .signup-info h2, .login-info h2 {
     width: 100%;
     text-align: center;
     font-size: 2.4rem;
 }

 .sign-up-btn {
   color: var(--main-color);
   border: 2px solid var(--main-color);
 }
 .sign-up-btn:hover {
   background-color: var(--main-color);
   border: 2px solid var(--main-color);
   color: white;
   transition: 500ms ease;
 }

 .active-links {
     text-decoration: none;
     color: var(--main-color);
     font-size: .8rem;
     
 }

 .signup-page {
     position: relative;
 }
 .signup-img {
     position: absolute;
     top: -20%;
     object-fit: cover;
     width: 100%;
     z-index: -1;
     opacity: 0.05;
 }


 /* nav styles  */

 .nav-mobile {
     background-color: var(--main-color);
     /* max-height: 60px; */
     display: flex;
     width: 100%;
     max-width: 500px;
     justify-content: center;
     margin: auto;
  
     gap: 2%;
     padding: 5px;
 }

 .nav-link {
     display: inline-block;
     height: 100%;
     text-decoration: none;
}
    
.nav-link p  {
    
  }

 .nav-img {
    max-height: 30px;
 }