<div class="h-100">

	<div class="products h-100">
		<% @products.each do |product| %>
			<%= link_to product_path(product), class: 'product-link' do %>
				<%= render 'shared/product_card' , product: product %>
					<% end %>
						<% end %>
	</div>


</div>